:root {
    --cor-primaria: #DC143C;
    --cor-secundaria: #3CB371;    
    --cor-branca: #FFD700;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-azul-escuro: #191970;
    --cor-fundo-azul-claro: #000080;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }